@bg-color: #b7d4a8;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-weight: bold;
}

#main{
    height: 420px;
    width: 360px;
    background-color: @bg-color;
    margin: 200px auto 20px;
    border:10px solid black;
    border-radius: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    #state{
        width: 304px;
        height: 304px;
        border: 2px solid black;
        position: relative;
        #snake{
            &>div{
                width: 10px;
                height: 10px;
                background-color: black;
                border: 1px solid @bg-color;
                position: absolute;
                left: 40px;
                top: 40px;
            }
        }
        #food{
            width: 10px;
            height: 10px;
            position: absolute;
            left: 40px;
            top: 100px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-content: space-around;
            &>div{
                width: 4px;
                height: 4px;
                background-color: black;
                transform: rotate(45deg);
            }
        }
    }
    #score-panel{
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
}

#info{
    width: 340px;
    margin: 0 auto;
    #control{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        &>div>button{
            font-size: 20px;
            padding: 5px;
            border-radius: 10px;
        }
        #start{
            background-color: greenyellow;
        }
        #pause{
            background-color: rgb(250, 250, 77);
        }
        #restart{
            background-color: rgb(243, 69, 69);
        }
    }
    #tips{
        font-size: 15px;
        margin-left: 40px;
        margin-top: 10px;
    }
}